<h1>Public Stories</h1>
<div class="row">
  {{#each stories}}
  <div class="col s12 m4">
    <div class="card">
      <!-- Card Image with Floating fab -->
      <div class="card-image">
        {{#if ../user}}
        {{{editIcon user.id ../user.id id}}}
        {{/if}}
      </div>
      <!-- Card Content -->
      <div class="card-content center-align">
        <h5>{{title}}</h5>
        <p class="story-text">{{truncate (stripTags body) 150}}</p>
        <br>
        <a href="/stories/user/{{user.id}}">
          <div class="chip">
            <img src="{{user.image}}">
            {{user.firstName}} {{user.lastName}}
          </div>
        </a>
      </div>
      <!-- Card Action -->
      <div class="card-action center-align">
        <div class="btn grey">
          <a class="white-text margin-right-zero" href="/stories/show/{{id}}">
            Read More &nbsp <i class="fa fa-caret-down"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <p>
    There are no public stories.
  </p>
  {{/each}}
</div>
